.video-player {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    background-color: var(--color-black);
    overflow: hidden;
    border-radius: var(--radius-md);
}

.video-player-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video-player-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-900);
    z-index: 1;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 4px solid var(--color-gray-700);
    border-top-color: var(--color-netflix-red);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}